<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card m-5">
    <div class="card-header"><h1 class="h2">NgxValidate Sample Implementation</h1></div>
    <div class="card-body">
      <form [formGroup]="form">
        <div formGroupName="credentials" [mapErrorsFn]="mapErrorsFn">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              formControlName="username"
              id="username"
              type="text"
              placeholder="Enter a username"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              formControlName="password"
              id="password"
              type="password"
              placeholder="Enter a password"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="repeat">Password Again</label>
            <input
              formControlName="repeat"
              id="repeat"
              type="password"
              placeholder="Repeat password"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group" validationStyle>
          <div class="form-check" validationTarget>
            <input
              formControlName="consent"
              id="consent"
              type="checkbox"
              class="form-check-input"
            />
            <label for="consent" class="form-check-label">Check me out</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
